replicaCount: 3
image:
  repository: nginx
  tag: latest
  pullPolicy: IfNotPresent
ingress:
  enabled: true
  hostname: myapp.company.io
  annotations: {}
resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "200m"
